@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

.facilities {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;

    &__font {
        font-family: 'Merriweather', serif;
    }
    
    &__font, &__img {
        padding-left: 1.5rem;
    }

    &__text {
        width: 80%;
        padding-bottom: 0.5rem;
    }
    
    &__img {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
}